html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

/* Menu */

.menuFallback
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    font-family: 'Bebas Neue', cursive;
    font-size: 20vi;
    color: white;
    user-select: none;
    background: #000000;
}

.menuBackground
{
    position: fixed;
    text-align: center;
    top: -10;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: #000000;
    user-select: none;
}

.menuTitle
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: -20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 100%;
    height: 30%;
    pointer-events: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 16vi;
    color: white;
    user-select: none;
}

.menuPlay
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 20%;
    left: 45%;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 10%;
    height: 10%;
    font-family: 'Bebas Neue', cursive;
    font-size: 6vi;
    color: white;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.menuPlay:hover
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 20%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 100%;
    height: 16%;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vi;
    color: lime;
    background: #ffffff11;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.menuSettings
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 40%;
    left: 41%;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 18%;
    height: 10%;
    font-family: 'Bebas Neue', cursive;
    font-size: 6vi;
    color: white;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.menuSettings:hover
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 40%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 100%;
    height: 16%;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vi;
    color: lime;
    background: #ffffff11;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.menuCredits
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 60%;
    left: 42%;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 16%;
    height: 10%;
    font-family: 'Bebas Neue', cursive;
    font-size: 6vi;
    color: white;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.menuCredits:hover
{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 60%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: 16%;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vi;
    color: lime;
    background: #ffffff11;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.settingsText
{
    color: white;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vh;
    top: 50%;
    left: 40%;
    user-select: none;
    
}

.settingsToggleMuteUnchecked
{
    background: #161616a6;
    color: #16161600;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 51%;
    left: 57%;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    width: 60px;
    height: 60px;
    font-size: 6vh;
}

.settingsToggleMuteUnchecked:hover
{
    background: #333333a6;
    color: #16161600;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 51%;
    left: 57%;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    width: 60px;
    height: 60px;
    font-size: 6vh;
}

.settingsToggleMuteChecked
{
    background: #161616a6;
    color: #ffffff;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 51%;
    left: 57%;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    width: 60px;
    height: 60px;
    font-size: 6vh;
}

.settingsToggleMuteChecked:hover
{
    background: #333333a6;
    color: #ffffff;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 51%;
    left: 57%;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    width: 60px;
    height: 60px;
    font-size: 6vh;
}

.creditsText
{
    color: white;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-family: 'Bebas Neue', cursive;
    font-size: 7vh;
    height: 30%;
    width: 50%;
    top: 15%;
    left: 25%;
    user-select: none;
}

.backToMenu
{
    position: absolute;
    text-align: center;
    vertical-align: center;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    background: rgba(26, 25, 25, 0.719);
    outline: white;
    border-radius: 50%;
    left: 10%;
    top: 10%;
    width: 60px;
    height: 60px;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.backToMenu:hover
{
    position: absolute;
    text-align: center;
    vertical-align: center;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    background: rgba(48, 47, 47, 0.719);
    outline: white;
    border-radius: 50%;
    left: 10%;
    top: 10%;
    width: 60px;
    height: 60px;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}

.clickMe
{
    color: chartreuse;
    user-select: none;
    pointer-events: auto;
    cursor: pointer;
}






/* Intro Cutscene */

/* .introText1
{
    text-align: center;
    vertical-align: center;
    font-family: Helvetica, Arial;
    font-size: 5vh;
    position: absolute;
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    user-select: none;
    pointer-events: none;
    display: inline-block;
}

.introText2
{
    text-align: center;
    vertical-align: center;
    font-family: Helvetica, Arial;
    font-size: 5vh;
    position: absolute;
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    user-select: none;
    pointer-events: none;
    display: inline-block;
} */